@model SaleMandu.dal.tbl_productDetail

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>tbl_productDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mobile_number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mobile_number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.product_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.product_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.product_location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.product_location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.product_price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.product_price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.product_description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.product_description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.condition)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.condition)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.home_delivery)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.home_delivery)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.warranty_type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.warranty_type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.color)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.color)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.features)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.features)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.make_year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.make_year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bought_time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bought_time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.image)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
